@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply overflow-y-scroll;
  }

  /* 隱藏 input number 箭頭 */
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  /* 隱藏 input date icon */
  input[type='date']::-webkit-inner-spin-button,
  input[type='date']::-webkit-calendar-picker-indicator {
    opacity: 0;
    position: absolute;
    left: 0;
    padding: 0 5px;
    -webkit-appearance: none;
  }
}

@layer components {
  .inner {
    @apply mx-auto max-w-[1344px];
  }
  .outer {
    @apply mx-auto max-w-[1440px];
  }
  .form-input {
    @apply rounded-[10px] border border-stroke px-2 py-1 outline-1 outline-note;
  }
}

@layer utilities {
  .scrollbar-none::-webkit-scrollbar {
    width: 0px;
  }
  .shadow-custom {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
  }
}

.gallery-card:hover .overlay {
  opacity: 1;
  z-index: 1;
}

/* 提示日期 */
.tooltip {
  position: relative;
  cursor: pointer;
}

.tooltip::after {
  content: attr(data-tooltip);
  position: absolute;
  top: 110%;
  left: 0;
  z-index: 1;

  padding: 5px 10px;
  border-radius: 6px;

  background-color: #333;
  color: white;
  font-size: 14px;
  white-space: nowrap;

  opacity: 0;

  transition: opacity 0.3s;
}

.tooltip:hover::after {
  opacity: 1;
}

.react-datepicker-wrapper {
  display: flex !important;
}
