@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .inner {
    @apply mx-auto max-w-[1344px];
  }
  .outter {
    @apply mx-auto max-w-[1440px];
  }
  .gallery-card:hover .overlay {
    opacity: 1;
    z-index: 1;
  }
}

@layer utilities {
  .scrollbar-none::-webkit-scrollbar {
    width: 0px;
  }
}
